
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body {
    background-color: rgb(171, 149, 149);
    }

form {
    width: 400px;
    margin:30px auto;
    }

fieldset {
    color:rgb(127, 166, 191)
}